.email {
  display: block;
  box-sizing: border-box;
  width: 320px;
}

.email__container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 260px;
  height: 107px;
  margin: 0 auto;
}

.email__legend {
  position: relative;
  padding: 0;
  margin: 0;

  font-family: $default-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: $blue;

  text-transform: uppercase;
}

.email__legend::after {
  content: "";
  position: absolute;
  display: block;
  width: 179px;
  height: 1px;
  top: 55%;
  right: 0;
  background-color: #62d1ba;
}

.email__input {
  box-sizing: border-box;
  height: 52px;

  font-family: $default-font;
  font-size: 17px;
  line-height:18px;
  color: #d2d2d2;

  border: none;
  outline: none;
  border-bottom: 2px solid $black;
}


.email__svg {
  display: block;
  position: absolute;
  top: 24px;
  right: 0;

  fill: #cccccc;
}

.email__input:hover {
  border-bottom: 2px solid #62d1ba;
}

.email__input:focus {
  color: $gray;
  border-bottom: 2px solid #62d1ba;
}

.email__input:hover + .email__svg {
  fill: #62d1ba;
}

.email__input:focus + .email__svg {
  fill: #62d1ba;
}
