.extra {
  box-sizing: border-box;
  width: 320px;
  height: 79px;
  padding: 0;
  margin: 0;

  font-size: 0;
  line-height: 0;
  color: $black;
  border: 1px solid $gray--light;
}

.extra__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;

  width: 260px;
  height: 79px;
  margin-left: auto;
  margin-right: auto;
}

.extra__link {
  margin-right: 68px;
}

.extra__dropdown {
  display: flex;
  align-items: center;

  width: 21px;
  height: 35px;
}
.extra__button {
  width: 21px;
  height: 14px;
}
