.feedback {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;


  font-family: $default-font;
  font-weight: 700;
  color: $black;

  background-color: $white;
}

.feedback__container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.feedback__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  height: 90px;

  font-size: 25px;
  line-height: 30px;
}

.feedback__details {
  padding: 0;
  margin: 0;
}

.feedback__text {
  padding: 0;
  margin: 0;

  font-family: $default-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $gray;
}

.feedback__cite {
  display: flex;
  flex-direction: column;
}

.feedback__author {
  padding-top: 40px;

  font-family: $default-font;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.feedbak__email {
  position: relative;
  padding-top: 17px;

  font-family: $default-font;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  color: $gray;
}

.feedback__toggle {
  display: flex;
  box-sizing: border-box;
  width: 260px;
  height: 52px;
  margin-top: 38px;

  line-height: 0;
  border: 1px solid $gray--light;
}

.feedback__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 130px;
  height: 50px;
  padding: 0;
  margin: 0;

  border: none;
  background-color: $white;
  cursor: pointer;
  outline: none;
}

.feedback__svg {
  width: 50px;
  height: 26px;

  fill: $black;
}

.feedback__arrow:hover .feedback__svg {
  fill: #666666;
}

.feedback__arrow:active .feedback__svg {
  fill: #b2b2b2;
}

.feedback__add-link {
  box-sizing: border-box;
  width: 260px;
  height: 52px;
  padding-top: 15px;
  margin-top: 38px;
  margin-bottom: 50px;

  font-family: $default-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $gray;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid $gray;
}

.feedback__add-link:hover {
  color: $white;
  background-color: $gray;
}

/*Светлый тон фона кнопки задан через opacity,
так как в фотошопе он определяется как №444444 ($gray),
то есть как и у ховера, но визуально явно светлей*/
.feedback__add-link:active {
  color: #8d8d8d;
  background-color: $gray;
  opacity: 0.9;
}


@media (min-width: $tablet-width) {
  .feedback {
    width: 100%;
    padding-bottom: 85px;
    margin-bottom: 45px;
  }

  .feedback__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-content-width;
  }

  .feedback__title {
    width: 493px;
    min-height: 175px;
    padding-top: 79px;

    font-size: 43px;
    line-height: 50px;
  }

  .feedback__add-link {
    order: 1;
    width: 175px;
    margin-top: 79px;
  }

  .feedback__details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 2;
    width: 100%;
  }

  .feedback__text {
    width: 100%;
    min-height: 135px;

    font-size: 17px;
    line-height: 30px;
  }

  .feedback__cite {
   width: 493px;
   min-height: 145px;
  }

  .feedback__author {
    font-size: 18px;
    line-height: 24px;
  }

  .feedback__email {
    font-size: 17px;
    line-height: 30px;
  }

  .feedback__toggle {
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding-bottom: 90px;
    margin-bottom: 71px;
  }

  .feedback__container {
    width: $desktop-content-width;
    padding-left: 175px;
  }

  .feedback__title {
    width: 700px;

    font-size: 53px;
    line-height: 57px;
  }

  .feedback__cite {
    width: 700px;
  }

  .feedback__author {
    font-size: 17px;
    line-height: 24px;
  }
}
