.forms__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;
}

.forms__send {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;

  background-color: #ffffff;
}

.forms__container-2 {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.forms__note {
  box-sizing: border-box;
  height: 63px;
  padding: 0;
  margin: 0;
  padding-top: 19px;

  @include font-base-1();
  font-size: 14px;
  line-height: 16px;
  color: $color-2;
}

.forms__button {
  box-sizing: border-box;
  width: 260px;
  height: 52px;
  margin-bottom: 56px;

  @include font-base-2();
  font-size: 17px;
  line-height: 17px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid #444444;
  background-color: #ffffff;
}
