.page-footer {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;


  @include font-base-1();
  color: $color-2;

  background-color: #ffffff;
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 81px;
  padding-left: 58px;

  border-bottom: 1px solid #e5e5e5;
}

.social__link {
  margin-right: 40px;
}

.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 79px;
}

.copyright__text {
  margin-right: 30px;
}

.copyright__svg {
  fill: #63d1bb;
}
