.page-footer {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;


  font-family: $default-font;
  font-weight: 400;
  color: $gray;

  background-color: #f1f1f1;
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
