.promo {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;

  font-family: $default-font;
  font-weight: 700;
  color: $white;

  background-color: $white;
}

.promo__container-one {
  box-sizing: border-box;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.promo__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 283px;
  margin: 0;

  background-image: url(../img/hero-mobile@1x.jpg);
  background-position: center top;
}

.promo__align {
  font-size: 27px;
  line-height: 30px;
  color: $black;
  text-align: center;
}

.promo__word-align {
  display: block;
  margin: 0;
  width: 260px;
}

.promo__items {
  display: flex;
  flex-direction: column;
}

.promo__item-one {
  box-sizing: border-box;
  width: 320px;
  height: 103px;

  font-family: $default-font;
  font-weight: 700;
  color: $white;
  text-decoration: none;

  background-color: $blue;
}
.promo__item-two {
  box-sizing: border-box;
  width: 320px;
  height: 103px;

  font-family: $default-font;
  font-weight: 700;
  color: $white;
  text-decoration: none;

  background-color: #56c3b2;
}

.promo__container-two {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 260px;
  height: 103px;
  margin: 0 auto;
}

.promo__container-three {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 260px;
  height: 103px;
  margin: 0 auto;
}

.promo__title-one {
  width: 105px;
}

.promo__title-two {
  width: 89px;
}
