.production {
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;

  background-color: $white;
}

.production__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 260px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 58px;

  border: 1px solid $gray--light;
}

.production__container:hover {
  box-shadow: 0 5px 9px 0 #e8e8e8;
}

.production__container:active {
  box-shadow: 0 3px 3px 0 #e8e8e8;
}

.production__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 260px;
  height: 95px;
  padding: 0;
  margin: 0;
}

.production__title {
  width: 130px;
  font-family: $default-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.production__description {
  box-sizing: border-box;
  width: 195px;
  height: 173px;
  padding: 0;
  margin:  0;
  padding-top: 34px;
  margin-left: 34px;

  font-family: $default-font;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $gray;
}

.production__link {
  box-sizing: border-box;
  width: 192px;
  height: 52px;
  padding-top: 15px;
  margin-left: 34px;
  margin-bottom: 32px;

  font-family: $default-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: $gray;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $gray;;
  cursor: pointer;
}

.production__link:hover {
  color: $white;
  background-color: $gray;
}


/*Светлый тон фона кнопки задан через opacity,
так как в фотошопе он определяется как №444444 ($gray),
то есть как и у ховера, но визуально явно светлей*/
.production__link:active {
  color: #8d8d8d;
  background-color: $gray;
  opacity: 0.9;
}
