.product-details {
  box-sizing: border-box;
  width: 260px;
  margin-top: 30px;

  font-family: $default-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $gray;
}

@media (min-width: $tablet-width) {
  .product-details {
    width: 334px;
    margin-top: 0;
    line-height: 20px;
  }

  .product-details__cat {
    min-height: 40px;
  }

  .product-details__value {
    min-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .product-details {
    width: 291px;
  }
}
