.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height: 81px;
  padding-left: 58px;

  border-bottom: 1px solid #e5e5e5;
}

.social__link {
  margin-right: 40px;
}

.social__svg {
  fill: "#231F20";
}

.social__link:hover .social__svg {
  fill: $blue;
}

.social__link:active .social__svg {
  fill: $blue;
  opacity: 0.2;
}
