.user-form {
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;

  background-color: $white;
}

.user-form__container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.user-form__legend {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 26px;

  font-family: $default-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: $blue;

  text-transform: uppercase;
}

.user-form__legend::after {
  content: "";
  position: absolute;
  display: block;
  width: 198px;
  height: 1px;
  top: 50%;
  right: 0;
  background-color: #62d1ba;
}

.user-form__list {
  display: flex;
  flex-direction: column;
  padding:  0;
  margin: 0;

  list-style-type: none;
}

.user-form__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 260px;
  height: 92px;
}

.user-form__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 92px;
}

.user-form__label {
  font-family: $default-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;
}

.user-form__input {
  box-sizing: border-box;
  height: 52px;

  font-family: $default-font;
  font-size: 17px;
  line-height:18px;
  color: #d2d2d2;


  border: none;
  outline: none;
  border-bottom: 2px solid $black;
}

.user-form__input:hover {
  border-bottom: 2px solid #62d1ba;
}

.user-form__input:focus {
  color: $gray;
  border-bottom: 2px solid #62d1ba;
}
